@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Futura";
  src: local("Futura"), url("./fonts/lato/Futura_light_font.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url("./fonts/futura/Lato-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Futura";
}

p,
span,
li {
  font-family: "Lato";
}
